body{
  margin:0px;
  padding: 0px;
  background-color: #d2d2d2;
}
a{

}
ul{
  list-style: none;
  position: relative;
  left: 10px;
  top: -60px;
}
li{
  float: left;
  margin-left: 30px;
}
li:hover{
  background-color: gray;
}
.top {
  margin: 0px;
  padding: 0px 120px 0px 120px;
  background-color: #d3a064;
  color: white;
  position: fixed;
  width: 1296px;
  height: 70px;
  font-size: 18px;
}
.DMWK{
  width: 50px;
  height: 50px;
}
