*{
    margin:0;
    padding:0;
  }
  .top {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: gray;
    padding-left: 25px;
  }
  .menu {
    position: relative;
    left: 10px;
    top: 10px;
  }
  .menu button {
    height: 35px;
  }
  .menu img{
    height: 30px;
  }
  .logo {
    position: relative;
    top: -27px;
    left: 70px;
  }
  .search{
    position: relative;
    height:30px;
    width: 700px;
    top: -65px;
    left: 200px;
    background-color: white;
  }
  .search_box{
    position:absolute;
    width: 680px;
    top:7px;
    left: 10px;
    border:none;
    background-color: transparent;
  }
  input:focus{
    outline: none;
  }
  .search_img{
    position:absolute;
    left: 700px;
    height: 30px;
  }
  .login {
    position: fixed;
    right: 150px;
    top: 10px;
  }
  .signup{
    position: fixed;
    right: 70px;
    top: 10px;
  }
  .login button, .signup button{
    width: 70px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
  }
  li {
    list-style: none;
    padding-left: 10px;
    padding-top: 5px;
  }
  #menu_cover {
    position: fixed;
    top:50px;
    width: 200px;
    height: 100%;
    background-color: gray;
  }