*{
    margin:0;
    padding:0;
  }
  fieldset{
    width: 500px;
    position: fixed;
    margin-left: 33%;
    margin-top: 13%;
  }
  h1{
    float:center;
  }
  a{
    text-decoration: none;
    color: blacks;
  }
  ul{
    margin-left: 10px;
  }
  li{
    list-style:none;
    padding-left: 7px;
    float:left;
    margin-bottom: 20px;
  }
  .main {
    margin-left: 100px;
  }
  .main input, button {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
  }
  hr{
    width: 300px;
    margin-bottom: 10px;
  }